h1 {
  font-size: 200px;
  line-height: 140px;
  margin-top: 200px;
}

h2 {
  font-size: 25px;
  line-height: 40px;
}

h3 {
  font-size: 22px;
  line-height: 25px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

hr {
  margin: 25px 25px;
  min-width: 690px;
}

#background-logo {
  top: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  #background-logo {
    animation: Logo-spin infinite 20s linear;
  }
}

@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
